* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #1173d4;
    --primary-dark: #0a3d66;
    --primary-hover: #0d5ba8;
    --primary-light: #09f;
    --background: #101922;
    --background-select: #f5f5dc;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --border: rgba(255, 255, 255, 0.1);
    --card-bg: #1e293b;
    --shadow: rgba(0, 0, 0, 0.3);
    --input-bg: #1e293b;
    --hsla-example: hsla(210, 100%, 56%, 1);
}

@font-face {
    font-family: "Inter Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/inter:vf@latest/latin-wght-normal.woff2)
        format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    font-family: system-ui;
    background-color: var(--background);
    color: var(--text-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.title-big {
    padding-top: 12rem;
    padding-left: 1rem;
    font-size: 3rem;
    color: var(--text-primary);

    font-weight: 10rem;
}
.main-title {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    font-size: 10rem;
    color: var(--text-primary);
    margin-bottom: 2rem;
    font-weight: 10 rem;
}

.main-description {
    /* todo el contenedor devJobs*/
    display: flex;
    justify-content: center;
    background-color: var(--background);
    margin-top: 3rem;
    padding-top: 1rem;
}

.main-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.reunion-img {
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    left: 0;
    right: 0;
    mask-image: linear-gradient(
        to bottom,
        rgba(16, 25, 34, 1) 5%,
        rgba(16, 25, 34, 0) 80%
    );
}

header {
    border-bottom: 1px solid var(--border);
    background-color: var(--background);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

footer {
    background-color: var(--background);
    border-top: 1px solid var(--border);
    text-align: center;
    padding: 20px;

    small {
        color: var(--text-muted);
        font-size: 0.875rem;
    }
}

.type-article {
    background-color: var(--card-bg);
    padding: 3rem;
    margin: 20px 20px 20px 20px;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
    svg {
        color: var(--primary-light);
        background: rgba(0, 153, 255, 0.3);
        width: 64px;
        height: 64px;
        border-radius: 100%;
        padding: 16px;
    }
    .paragraph-article {
        color: var(--text-primary); /*coloca color gris definido*/
        margin-top: 20px;
    }
}

.principal-title {
    font-size: 2rem;
    line-height: 1.2;
    text-wrap: balance;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    svg {
        width: 2rem;
        height: 2rem;
        color: var(--primary-light);
    }
}
.paragraph-space {
    text-wrap: balance;
    margin-bottom: 2rem;
    margin-bottom: 2rem;
}

.main-title {
    font-size: 3rem;
    line-height: 1.2;
    text-wrap: balance;
    display: flex;
    padding-top: 200px;
    padding-left: 20px;
}

.paragraph-title {
    font-size: 1.5rem;
    line-height: 2rem;
    text-wrap: balance;
    display: flex;
    padding: 20px 20px 10px;
}

nav {
    display: flex;
    align-items: center;

    .link-nav {
        display: inline-block;
        padding-left: 25px;
        margin-right: 30px;
        text-decoration: none;
        color: var(--text-secondary);
        transition: color 0.2s;
        font-weight: 500;

        &:hover,
        &:focus {
            color: var(--primary);
            outline: none;
        }
    }
}

form {
    max-width: 42rem;
    width: 100%;
    margin: 0 auto;
    padding-inline: 1rem;
}

.search-style {
    display: flex;
    align-items: center;
    background-color: var(--input-bg);
    border-radius: 0.5rem;
    box-shadow: 0 10 px 15 px -3px var(--shadow);
    padding: 0rem;
    gap: 0.75rem;
}

form input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #ffff;
    padding: 1rem 2rem;
    font-size: 0.95rem;
    font-family: inherit;
    border-radius: 0.5rem;
}

&::placeholder {
    color: #64748b;
    opacity: 1;
}

.search-button {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
    color: white;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    font-family: inherit;
    font-size: 1rem;
    white-space: nowrap;

    &:hover,/* pseudo clase que significa que el raton esta encima*/
    
    &:focus {
        background-color: var(--primary-hover);
        outline: 2px solid white;
        outline-offset: 2px;
    }

    &:active {
        transform: scale(0.9);
    }
}
.search-button:hover,
.search-button:focus {
    background-color: var(--primary-hover);
    outline: 2px solid white;
    outline-offset: 2px;
}

.jobs-search {
    margin: 0;
    padding: 0;
    height: auto !important; /* le da la mayor importancia a esta propiedad*/

    .search-bar {
        display: flex;
        align-items: center;
        background: var(--input-bg);
        width: 60rem;
        padding: 0.5rem 0.5rem;
        border-radius: 1rem;
    }
    .search-filters {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
    .search-line {
        max-width: 1280px;
    }
}

.style-list {
    /*estilo de las listas*/
    display: flex;
    background: #09f; /* color de fondo */
    color: #fff; /* color del texto */
    border: 2px solid #0d5ba8; /* borde */
    border-radius: 8px; /* esquinas redondeadas */
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
    font-family: inherit;
    font-size: 1rem;
    white-space: nowrap; /* quita borde azul al hacer clic */
    width: 200px;
    margin-right: 20px;
    &:hover,
    &:focus {
        background-color: #1e293b;
        outline: 2px solid #fff;
        outline-offset: 2px;
    }

    &:active {
        transform: scale(0.9);
    }
}

.jobs-listings {
    border: 1 px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;

    small {
        font-size: 0.875rem;
        opacity: 0.75;
    }
    .link-title-job {
        color: (var(--text-primary));
        text-decoration: none;
        font-weight: 700;
        font-size: 500;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-block: 2rem;
}
.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
    color: var(--text-muted);
    border-radius: 0.375rem;
    transition: all 0.3s;

    &:hover,
    &:focus {
        background-color: #ffffff;
    }
    &:active {
        transform: scale(0.6);
    }
    &.is-active {
        background-color: var(--primary-light);
        color: white;
        pointer-events: none;
    }
}

.button-apply-job {
    background: #09f;
    height: 3rem;
    width: 6rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    font-family: inherit;
    font-size: 1rem;
    white-space: nowrap;
    margin-top: 30px;
    &:hover,/* pseudo clase que significa que el raton esta encima*/
    
    &:focus {
        background-color: var(--primary-hover);
        outline: 2px solid white;
        outline-offset: 2px;
    }

    &:active {
        transform: scale(0.9);
    }
    &.is-applied {
        background: #4caf50;
        pointer-events: none;
    }
}

.search-type-job {
    background: var(--input-bg);
    width: 20rem;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    color: white;
    border: none;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: center;
}

.job-type {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    /*margin: 3rem 0;*/
    padding-left: 10rem;
    padding-top: 5rem;
}

.style-type-job {
    background-color: var(--card-bg);
    padding: 3rem;
    margin: 2rem auto;
    max-width: 1580px;
    width: 100%;
    border-radius: 0.5rem;
    text-align: justify;
}

.task-job {
    background-color: var(--card-bg);
    padding: 3rem;
    border-radius: 0.5rem;
    margin: 2rem auto;
    max-width: 1580px;
    width: 100%;
}

.marker {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffff;

    &.marker-list {
        position: relative;
        padding-left: 25px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    &::before {
        content: "";
        position: absolute;
        align-items: center;
        left: 0;
        top: 6px;
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml;utf8,<svg width='14' height='14' viewBox='0 0 24 24' fill='%23FFFFFF' stroke='%23FFFFFF' stroke-width='2' xmlns='http://www.w3.org/2000/svg'><circle cx='12' cy='12' r='9' /></svg>");
        background-repeat: no-repeat;
        background-size: 12px;
    }
}
.button-type-job {
    background: #09f;
    height: 3rem;
    width: 10rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    font-family: inherit;
    font-size: 1rem;
    white-space: nowrap;
    margin-top: 1rem;

    &:hover,/* pseudo clase que significa que el raton esta encima*/
    
    &:focus {
        background-color: var(--primary-hover);
        outline: 2px solid white;
        outline-offset: 2px;
    }

    &:active {
        transform: scale(0.9);
    }
    &.is-applied {
        background: #4caf50;
        pointer-events: none;
    }
}

.title-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
